
body{
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items:center;
}

img{
    max-width: 80vh;
    max-height: 100vh;
}

button{
    margin-left: 5vh;
    padding:8px;
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
}
