body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 10%;
}

h2{
    cursor: pointer;
}

#Button{
    background-color: lightpink;
    color: black;
    border-color: aliceblue;
    border-width: 1px;
    cursor: pointer;
}