body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    background-image: url('../img/dollywoodbackground.jpg');
}

h2{
    cursor: pointer;
}

#Button{
    background-color: rgb(237, 46, 151);
    color: rgb(255, 255, 255);
    border-color: aliceblue;
    border-width: 1px;
    cursor: pointer;
}