body{
    margin: auto;
    text-align: center;
    width: auto;
    margin-top: 10%;
}

h1{
    font-size: 100pt;
}

section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap:10px;
    grid-auto-flow: dense;
}

#cyan{
    grid-column: 1 / span 3;
}

#cyan:hover{
    background-color: cyan;
    transform: scale(1.2);
    color: aliceblue;
}

#magenta{
    grid-column: 4 / span 3;
}

#magenta:hover{
    background-color: magenta;
    transform: scale(1.2);
    color: aliceblue;
}

#yellow{
    grid-column: 7 / span 3;
}

#yellow:hover{
    background-color: yellow;
    transform: scale(1.2);
    color: aliceblue;
}

#black{
    grid-column: 10 / span 3;
}

#black:hover{
    background-color: black;
    transform: scale(1.2);
    color: aliceblue;
}