@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d3e9c7;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.choices {
    margin-bottom: 20px;
}

.choice {
    font-size: 1.5em;
    padding: 20px;
    margin: 0 10px;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.choice:hover {
    background-color: #f1f1f1;
    transform: scale(1.1);
}

#result {
    font-size: 2em;
    margin: 20px 0;
}

#score {
    font-size: 1.2em;
}