@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Lexend:wght@100..900&family=Rock+Salt&display=swap');
body{
    background-color: aliceblue;
}

h1{
    font-family: "Cutive", serif;
    font-size: 30pt;
    text-align: center;
}

h2{
    font-family: "Cutive", serif;
    font-size: 15pt;
    text-align: left;
}