@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Lexend:wght@100..900&family=Rock+Salt&display=swap');
body{
    background-color: aliceblue;
    margin-left: 5vh;
}

h1{
    font-family: "Cutive", serif;
    font-size: 30pt;
    text-align: center;
}

h2{
    font-family: "Cutive", serif;
    font-size: 15pt;
    text-align: left;
}

.directory{
    margin-top: 15vh;
}

h2:hover{
    transform: scale(1.02);
}
.moving-text {
    position: absolute;
    white-space: nowrap;
    top: 20px; 
    font-size: 24px;
    animation: moveText 10s linear infinite;
    font-family: "Cutive", serif;
    font-size: 30pt;
    text-align: center;
  }

  @keyframes moveText {
    0% {
      left: 100%;
    }
    100% {
      left: -100%; 
    }
  }