body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
  }
  
  canvas {
    background-color: #111;
    border: 2px solid #fff;
  }

  #restartButton {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    border-color: #111;
    border-radius: 1pt;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
  }