@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Cutive&family=Lexend:wght@100..900&family=Rock+Salt&display=swap');
body {
    text-align: center;
    font-family: "Barriecito", system-ui;
    background-color: #add9ff;
    padding: 50px;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #f5f4ec;
    border: 2px solid #000;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #status {
    margin-top: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
  }